#container {
	background-color: #F3F3F3;
	height: 100%;
}

.md-toolbar-tools h2 {
	margin-left: 5px;
}

.card {
	margin: 20px;
}

.widget-title {
	margin-top: 60px;
}

#widget-title-label {
	color: rgba(255, 255, 255, 0.85);
}
