#container {
	background-color: #F3F3F3;
	height: 100%;
}

.md-toolbar-tools h2 {
	margin-left: 5px;
}

.card {
	margin: 20px;
}

.widget-title {
	margin-top: 60px;
}

#widget-title-label {
	color: rgba(255, 255, 255, 0.85);
}

.card .hint {
	position: absolute;
	left: 2px;
	right: auto;
	bottom: 7px;
	font-size: 12px;
	line-height: 14px;
	transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
	color: grey;
}
