<!DOCTYPE HTML>
<html>
	<head>
		<title>Radar Grapher Creator</title>
		<meta charset="utf-8"/>

		<!-- STYLESHEETS -->
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
		<link rel="stylesheet" href="//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.css">
		<link rel="stylesheet" type="text/css" href="creator.css">

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="materia.creatorcore.js"></script>

		<!-- ANGULAR MATERIAL DEPENDENCIES -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

		<!-- ANGULAR MATERIAL -->
		<script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

		<!-- CHART.JS -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

		<!-- ANGULAR CHART -->
		<script src="//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>

		<!-- ANGULAR SANITIZE -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-sanitize.min.js"></script>

		<!-- MAIN CREATOR SCRIPT -->
		<script src="creator.js"></script>
	</head>
	<body ng-app="RadarGrapherCreator">
		<md-content id="container" ng-controller="RadarGrapherController">
			<md-toolbar md-theme="toolbar-dark">
				<div class="md-toolbar-tools">
					<md-input-container class="md-block widget-title" flex>
						<label id="widget-title-label">Widget Name</label>
						<input ng-model="widgetTitle">
					</md-input-container>
				</div>
			</md-toolbar>
			<div layout-gt-sm="row" layout="column" id="content">
				<div flex="45" id="chart-container" layout="column">
					<h2>Preview</h2>
					<md-card class="md-whiteframe-3dp card" id="graph-container">
						<canvas id="radar" class="chart chart-radar" chart-data="data" chart-labels="labels"></canvas>
					</md-card>
				</div>
				<div flex="55" id="card-container" ng-init="setup()">
					<md-card class="md-whiteframe-3dp card" 
						ng-repeat="card in cards" 
						layout="row"
						ng-init="thisIndex = $index + 1">
						<div flex="25" class="card-left" layout layout-align="center center">
							<md-input-container class="md-block">
								<label>Axis Label</label>
								<input 
									ng-model="card.label" 
									ng-change="updateLabels($index, card.label)" 
									ng-class="{'error' : card.label.length > labelCharLimit, 'highlight': card.label == 'Label '+thisIndex}"
									label-limit-enforcer />
							</md-input-container>
						</div>
						<div class="card-right" layout="column" flex>
							<button class="delete" ng-click="deleteQuestion($index)">×</button>
							<md-input-container class="md-block">
								<label>Question</label>
								<input 
									ng-model="card.question"
									ng-class="{'highlight': card.question == 'Question '+thisIndex}">
							</md-input-container>
							<div layout="row">
								<md-input-container class="md-block" flex="25">
									<label>0% Label</label>
									<input 
										class="highlight" 
										ng-model="card.min">
								</md-input-container>
								<md-slider flex min="0" max="100" aria-label="slider" ng-model="data[0][$index]"></md-slider>
								<md-input-container class="md-block" flex="25">
									<label>100% Label</label>
									<input 
										class="highlight" 
										ng-model="card.max">
								</md-input-container>
							</div>
						</div>
					</md-card>
					<div layout layout-align="center center">
						<md-button class="md-accent md-raised add-question" ng-click="addQuestion()" ng-class="{'disabled': cards.length >= 10}">
							Add Question
						</md-button>
					</div>
				</div>
			</div>
		</md-content>
	</body>
</html>
