/* Creator CSS */
#container {
	background-color: #F3F3F3;
	height: 100%;
	overflow: hidden;

	md-toolbar {
		position: fixed;

		.widget-title {
			margin-top: 45px;

			#widget-title-label {
				color: rgba(255, 255, 255, 0.85);
			}
		}
	}

	md-input-container {
		margin: 5px;
	}

	#content {
		height: 100%;
		padding-top: 64px;

		#card-container {
			max-height: 100%;
			overflow: scroll;

			.card {
				margin: 20px;
				padding: 5px 10px;

				.card-left {
					border-right: 1px solid rgba(0,0,0,0.1);
					padding-right: 10px;
				}

				.card-right {
					padding-left: 10px;
				}

				md-input-container {
					margin: 25px 5px 15px;

					.md-errors-spacer {
						min-height: 0;
					}
				}
			}

			button.md-button.add-question {
				padding: 0 10px;
				margin-bottom: 20px;
			}
		}
	}
}
